mmsGroupId=66a9b8163c73ea5a087a7c88
mmsApiKey=66a9b83c3c73ea5a087a7ead86dc45c01ca34dca26c7e40a42d5f798
mmsBaseUrl=http://192.168.1.252
httpProxy=http://192.168.1.252
logFile=/var/log/mongodb-mms-automation/automation-agent.log
mmsConfigBackup=/var/lib/mongodb-mms-automation/mms-cluster-config-backup.json
logLevel=INFO
maxLogFiles=10
maxLogFileSize=268435456
#httpProxy=